{
  "presets": [
    [
      "env",
      {
        "targets": {
          "ie": "11"
        }
      }
    ],
    "react",
    "stage-3"
  ],
  "plugins": [
    [
      "transform-react-jsx",
      {
        "pragma": "createElement"
      }
    ]
  ]
}
